body {
  background-image: url(../img/halftone.png);
}

/* centered columns styles */
.row-centered {
    margin: 0 auto;
}

#choice1, #choice2 {
  width: 306px;
  height: 110px;
  background-color: #fff;
  margin-top: 100px;
  cursor: pointer;
}

/*#choice1 {
  background-image: url(../img/gillsans.png);
}*/

/*#choice2 {
  background-image: url(../img/caslon.png);
}*/

img {
  margin-left:-10px;
}

#choice1:hover, #choice2:hover {
  background-color: #c5efc5;
}


.points {
  margin-top: 5%;
}
